<h1>It took me forever to make it work</h1>
 <% @essays.each do |essay| %>
 <%= essay.title %>
 <br>
 <%= sanitize essay.body %>
 <br>
 <%= link_to "READ MORE", essay_path(essay) %>
 <br>
 <%= link_to "Edit", edit_essay_path(essay) %>
 <br>
 <br>
 <% end %>